.quarto-title-block .quarto-title-banner {
  background-image: url("images/pharmetheus_logo_mark_white.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 100px;
  padding-right: 100px;
  background-origin: content-box;
  
    /* Adjust height based on screen width */
    @media (max-width: 380px) { /* Mobile */
        height: 120px;
    }
    @media (min-width: 381px) and (max-width: 991px) { /* iPad */
        height: 60px;
    }
    @media (min-width: 992px) { /* Computer */
        height: 120px;
    }
}

body {
  font-family: "Times New Roman";
  color: #777777;
  background-color: #ffffff;
}

code-block {
  font-family: "Times New Roman";
  color: #777777;
  background-color: #ffffff;
}
